{% extends "user/index.html" %}
{% load mediapath %}
{% block title %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Главная страница</h1>
                <p class="lead text-body-secondary">Вы можете ознакомится с нашими врачами и записаться на прием в любое удобное время</p>
                <p>
                    <a href="{% url 'person:specialization' %}" class="btn btn-primary my-2">Список направлений</a>
                    <a href="{% url 'person:person_list' %}" class="btn btn-secondary my-2">Просмотреть врачей</a>
                    <a href="{% url 'person:product' %}" class="btn btn-secondary my-2">Онлайн аптека</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
{% block body %}
    <div class="album py-5 bg-body-tertiary">
        <div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-img-top" style="background-image: url('{{ object.photo|mediapath }}'); background-size: cover; background-position: center; width: 100%; height: 225px;"></div>
                        <div class="card-body">
                            <p class="card-text">ФИО: {{ object.first_name }} {{ object.last_name }}</p>
                            <p class="card-text">Образование: {{ object.education }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                            href="{% url 'person:person_view' object.pk %}">Подробнее</a>
                                    {% if user.is_superuser == True %}
                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                                   href="{% url 'person:person_update' object.pk %}">Редактировать</a>
                                            <a type="button" class="btn btn-sm btn-outline-danger"
                                                   href="{% url 'person:person_delete' object.pk %}">Удалить</a>
                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    </div>
{% endblock %}
{% block footer %}
<footer class="text-body-secondary py-5">
    <marquee behavior="alternate" direction="right">Бегущая строка</marquee>
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Вверх</a>
        </p>
        <p class="mb-1">Сайт был создан в образовательных целях</p>
        <p class="mb-0">&copy; 2024 - {% now 'Y' %}
    </div>


</footer>
{% endblock %}