{% extends "user/index.html" %}
{% load mediapath %}
{% block title %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        .profile-container {
            max-width: 650px;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid #eee;
            border-radius: 10px;
            background-color: #f9f9f9;
            margin-left: 100px;

        }
        .profile-avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
<div class="profile-container">
    <h1>Профиль</h1>
    <img src="{% mediapath user.avatar %}" alt="Avatar" class="profile-avatar">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Имя:</strong> {{ user.first_name }}</p>
    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
    <p><strong>Статус:</strong> {% if user.is_active %} Активен {% else %} Неактивен {% endif %}</p>
    <a class="p-2 btn btn-outline-danger" href="{% url 'user:new_password' %}">Сгенирировать новый пароль</a>
    <a class="p-2 btn btn-outline-danger" href="{% url 'user:user_password' %}">Сменить пароль</a>
    <a class="p-2 btn btn-outline-success" href="{% url 'user:update' %}">Редактировать профиль</a>
</div>
</body>
{% endblock %}
{% block footer %}
<footer class="fixed-bottom bg-light text-center py-3">
    <marquee behavior="alternate" direction="right">Бегущая строка</marquee>
    <div class="container">
        <p class="mb-1">Сайт был создан в образовательных целях</p>
        <p class="mb-0">&copy; 2024 - {% now 'Y' %}
    </div>
</footer>
{% endblock %}